body{
    background-color: #FFFFFF;
    padding: 0%;
    margin:0;
    text-align:center;
    font-family: 'Roboto', Arial;
}
icon{
    max-width: 10px;
}
.container{
    display: flex;
    flex-direction: column;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.navlist{
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
    
}

.navlist a{
    text-decoration: none;
    color:#E5E7E8;
    font-size:18px;
    padding: 10px;
    font-family: 'Roboto', Arial;

}

.Introduction{
    display:flex;
    flex-direction: row;
    background-color: #1f2937;
    color:#F9FAF8;
    align-items: center;
    padding: 90px;
    justify-content: center;
    align-items: center;
    
}

.Introduction button{
    display: block;
    text-align: center;
    width: 100px;
    border: none;
    background:#3882f6;
    padding: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.text_box{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    text-align: left;
    margin-right: 50px;
}


h1{
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
    margin: 0;
    font-family: 'Roboto',arial;

}
.logo img{
    max-width: 200px;
}
img{
   max-width: 500px;
   max-height: 350px;
}